bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestResults/
*.log
*.tlog
*.cache
*.pdb
*.dbmdl
*.dbproj.schemaview
*.dbmdl
*.jfm
_ReSharper*/
.idea/
*.DotSettings.user
*.ncrunch*
*.localhistory/
*.DS_Store
*.swp
*.bak
*.tmp
*.old
*.orig
*.vspscc
*.vssscc
*.scc 